* {
	margin: 0px;
}

html {
	height: 100%;
    width: 100%;
}

input, p, h3, h2, h1, header {
	margin: 5px;
}

body, section.main {
	background-color: #632912;
	color: #a6ced8;
	height: 100%;
}

section.right, section.navbar {
	background-color: #331104;
	color: #a6ced8;
}

.light-mode {
	background-color: #a6ced8;
	color: #632912;
}

.primary {
	background-color: #bf442b;
}

.primary h2, .primary h1 {
	color: #a6ced8;
}

.secondary {
	background-color: #33b7d1;
}

.accent {
	background-color: #fbc48e;
}

h1, h2 {
	font-family: "Monofett", monospace;
	font-weight: 400;
	font-style: normal;
	color: #bf442b;
}

label, input, p, h3 {
	font-family: "Potta One", system-ui;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #bf442b;
}

a:hover {
	text-decoration: none;
	color: #fbc48e;
}

a#now {
	color: #a6ced8;
}

img, div, input, button {
	border-radius: 12px;
}

div {
	background-color: #33b7d1CC;
	max-width: 800px;
	max-height: 600px;
	margin: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

h3.right {
	display: inline-block;
}

img.logo {
	display: inline-block;
	text-align: right;
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

img.aboutme {
	width: 60%;
	height: 80%;
	margin: 20px;
}

section.right ul li {
	padding: 5px;
	list-style-image: url('list style image.png');
}

section#projects div {
	width: 80%;
	max-height: 60%;
	margin: auto;
	margin-top: 3%;
}

	section#projects div h2, section#projects div p {
		float: right;
		display: block;
		text-align: right;
	}

	img.projects {
		float: left;
		max-height: 60%;
		max-width: 80%;
		margin: 10px;
	}

section.main {
	position: absolute;
	min-height: 1024px;
	width: 75%;
	/*background-image: url('background-.png');
	background-repeat: repeat;
	background-position: center; 
	the concept is to have my art repeat over and over again as you scroll, to make the website more lively and less empty. but i need more art */
}

section.navbar {	
	position: fixed;
	top: 0px;
	left: 0px;
	height: 70px;
	width: 100%;
}

	section.navbar ul {
		background-color: #FBC48E;
		margin-right: 10px;
		width: 310px;
		margin-left: 20px;
		height: 30px;
		margin-top: 20px;
	}

	section.navbar li {
		display: inline-block;
		margin-top: -5px;
	}

	section.navbar a {
		text-decoration: none;
		color: #632912;
	}

	section.navbar a:hover {
		color: #bf442b;
	}

	.lightswitch {
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-left: -30px;
		margin-top: 2px;
		padding: 2px;
		border: none;
	}

div#welcome {
	margin: auto;
	background-color: #bf442bCC;
	width: 80%;
	height: 40%;
	overflow: visible;
	padding: 10px;
	margin-top: 50px;
}

	@font-face {
		font-family: billo;
		src: url(https://dl.dropbox.com/s/klv8tmajlqrb2xz/BILLO___.TTF);
		}

	header#header-text {
		font-size: 104px;
		text-align: center;
		color: #a6ced8;
		text-shadow: 3px 3px #33b7d1;
		font-family: billo;
	}

article.resume div {
	width: 80%;
	max-height: 60%;
	overflow: auto;
	margin: auto;
	margin-top: 20px;
}

.checkbox {
	-webkit-appearance: none;
	padding: 6px;
	background-color: #fafafa;
	border: 1px solid #cacece;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #632912;
	margin-top: -5px;
}

section#projects div.invis {
	background-color: transparent;
	max-width: none;
	width: 99%;
}

@media only screen and (min-width: 720px) { /* FOR NOT PHONES */

	section.right, section.main {
		top: 70px;
	}

	div:last-of-type {
		margin-bottom: 100px;
	}

	section.right {
		width: 25%;
		right: 0;
		height: 100%;
		overflow-y: scroll;
		position: fixed;
	}

}

@media only screen and (max-width: 719px) { /* FOR PHONES */

	section.right {
		width: 100%;
		height: auto;
		overflow-y: auto;
		position: relative;
		background-color: #33110488;
		margin-top: 30px;
	}

	section.right div:first-child {
		background-color: #bf442b;
	}

	section.right div h2 {
		color: #331104;
	}

	section.main {
		width: 99%;
		margin-left: 1%;
		margin-right: 1%;
		height: auto;
		position: relative;
	}

	div {
		padding: 10px;
	}

	div.experience-container div {
		padding: 0px;
		margin: 0px;
	}

	div#welcome, section#projects div.primary {
		margin-top: 100px;
	}

	header#header-text {
		font-size: 76px;
		margin: 5px;
		font-family: billo;
	}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #fbc48e #bf442b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #bf442b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #fbc48e;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }