/* main palette:
 https://coolors.co/palette/c51529-fe817d-703434-e58265-d36951-cd5d5c-bdac91-a47063-2ea098-61b8cc
	required colours (lightest to darkest): #FFCEC0 #FFAE97 #C35B3D #A03B1E
*/

@media only screen and (min-width: 720px) {		/* stijlregels voor browserschermen > 720px en < 1024px */
	section.left {
		float: left;
		max-width: 20%;
		height: 100%;
	}
	
	section.main {
		min-height: 1024px;
		width: 80%;
		float: right;
	}
	
	img.projects {
		margin: 15px;
		margin-left: 30px;
	}
	
	section.main div#contact p {
		font-size: 22px;
		padding-right: 15px;
	}
	
	section.main div#contact img {
		max-height: 400px;
		max-width: 300px;
	}
	
	div.mim h1,
	div.mim h2,
	section.main div.mim h2 {
	font-size: 42px;
	}
	
	div.mim a,
		div.mim p {
		font-size: 26px;
	}
	
	section.navbar {	
		min-height: 30px;
	}
		
	section.navbar a {
		font: 22px;
	}
	
	section.left p {
		font-size: 22px;
	}
	
	header#header-text {
		font-size: 104px;
	}
	
	header#header-text {
		margin-top: 50px;
	}
	
	*::-webkit-scrollbar {
		width: 16px;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 10px;
	}
}

@media only screen and (max-width: 719px) { /* stijlregels for mobiel */

	section.main {
		min-height: 100%;
		min-width: 100%;
		float: none;
		}

	section.left {
		width: 100%;
		max-height: 25%;
		align-items: flex-end;
	}	

		img.projects {
		margin: 15px;
		margin-left: 30px;
	}
	
	section.main div#contact p {
		font-size: 22px;
		padding-right: 15px;
	}
	
	section.main div#contact img {
		max-height: 400px;
		max-width: 300px;
	}
	
	div.mim h1,
	div.mim h2,
	section.main div.mim h2 {
	font-size: 42px;
	}
	
	div.mim a,
		div.mim p {
		font-size: 26px;
	}
	
	section.navbar {	
		min-height: 30px;
	}
		
	section.navbar a {
		font: 22px;
	}
	
	section.left p {
		font-size: 22px;
	}
	
	header#header-text {
		font-size: 104px;
	}
	
	header#header-text {
		margin-top: 50px;
	}
	
	*::-webkit-scrollbar {
		width: 16px;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 10px;
	}
}

/* stijlregels for allebei */

/*mim = most important message*/
section.main div.mim {
	background-color: #A03B1E;
	max-height: none;
	overflow: hidden;
}

section.main {
	margin-top: 5%;
	overflow: auto;
}

section.navbar {
	position: absolute;
	top: 0px;
	left: 0px;
	color: red;
}

	/* literally everything with border radius 12 ever */
	img.projects,
	img.badges,
	div#welcome,
	section.main div#contact,
	section.main div#contact img,
	section.main div {
		border-radius: 12px;
	}

section.left p, section.left h2 {
	max-width: 90%;
	margin: 5%;
}

body#index {
	overflow: hidden;
}

img.projects {
	max-width: 50%;
}

img.badges {
	max-width: 10%;
	max-height: 10%;
	margin: 2%;
}

section#contact.main {
	width: 80%;
	float: none;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

section.main div.mim a {
	color: #FFAE97;
}

section.main div#contact p {
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
}

section.main div#contact img {
	margin-left: 5%;
	margin-top: 5%;
	}

section.main div#contact {
	margin-left: 5%;
	margin-bottom: 2%;
	width: 80%;
	max-height: none;
	background-color: #BDAC91;
	overflow-y: auto;
}

section.main div {
	margin-left: 5%;
	margin-bottom: 2%;
	width: 80%;
	max-height: 5%;
	background-color: #FFCEC0;
	overflow-y: auto;
}

section.main div p a {
	margin-left: 0px;
}

section.main div a,
section.main div h2 a {
	color: #703434;
	margin-left: 0px;
}

section.main div h2 a {
	text-decoration: none;
}

section.main div h2 {
	color: #703434;
}

section.main div p,
section.main div h1,
section.main div h2,
section.main div a {
	margin-left: 5%;
}

div.mim h1,
div.mim h2,
section.main div.mim h2 {
	color: #ffffff;
}


div.mim a {
	color: #FFAE97;
}

div.mim p {
	color: #ffffff;
}

* {
	margin: 0px;
	padding: 0px;
}

section.main,
html {
	background-color: #E58265;
}

section.navbar {
	background-color: #BDAC91;
	width: 100%;
	z-index: 3;
}

section.navbar li {
	display: inline;
}

section.navbar a {
	margin-left: 5%;
	font-family: 'Cherry Bomb One', cursive;
	color: #703434;
	text-decoration: none;
}

section.navbar a:hover {
	color: #9b252f;
}

section.left {
	background-color: #BDAC91;
	overflow-y: scroll;
	position: fixed;
	z-index: -1;
}

section.left:hover {
	overflow-y: auto;
}

section.left p {
	color: #A47063;
	font-weight: bold;
}

section.left h1,
section.left h2 {
	color: #703434;
}

img.aboutme {
	min-width: 60%;
	max-width: 90%;
	height: auto;
	padding-left: 5%;
	padding-top: 10%;
}

header#header-text {
	text-align: center;
	z-index: 1;
	color: #ffeeee;
	text-shadow: 2px 2px #9b252f;
}

div#welcome {
	text-align: center;
	background-color: #A03B1E;
	margin-left: 10%;
	width: 80%;
	max-height: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	font-family: 'Fredoka', sans-serif;
}

p,
#header-text {
	font-family: 'Dongle', sans-serif;
}

h1,
h2,
p {
	margin-left: 5px;
}

img.icon {
	max-width: 90%;
	max-height: 90%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #A47063 #703434;
}



/* Chrome, Edge, and Safari */
*::-webkit-scrollbar-track {
	background: #E58265;
}

*::-webkit-scrollbar-thumb {
	background-color: #A47063;
	border: 3px solid #703434;
}
