body {
	background: #632912;
	color: #a6ced8;
}

.light-mode {
	background: #a6ced8;
	color: #632912;
}

.primary {
	background: #bf442b;
}

.secondary {
	background: #33b7d1;
}

.secondary {
	background: #fbc48e;
}

.h1, .h2, .header {
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
}

.p, .h3 {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}