body {
	background: #632912;
	color: #a6ced8;
}

.light-mode {
	background: #a6ced8;
	color: #632912;
}

.primary {
	background: #bf442b;
}

.secondary {
	background: #33b7d1;
}

.secondary {
	background: #fbc48e;
}